section {
    padding-bottom: 200px;
}

/* Showcase */
#showcase {
    height: 100vh;
    width: 100%;
    background-size: cover;
    transition: background-image ease-in-out 1s;
    background-attachment: fixed;
    padding: 0;
}

    #showcase .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--black);
        padding: 20px 50px;
        opacity: 0.9;
        border-radius: 20px;
    }

        #showcase .wrapper * {
            color: var(--white);
            text-align: center;
            white-space: nowrap;
        }

        #showcase .wrapper h3 {
            font-size: 26px;
            color: var(--green);
        }

/* About */
#about {
    height: 300px;
}

#about:before {
    z-index: unset;
}

#shrekcover {
    float: right;
    margin-left: 30px;
    z-index: 150;
    transform: translateY(-35px);
}

    #shrekcover img {
        border-radius: 20px;
        margin-bottom: 5px;
    }

    #shrekcover p {
        text-align: center;
    }

/* Movies */
.moviestable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}

    .moviestable img {
        width: 100%;
        filter: grayscale(.75) drop-shadow(0 0 0 var(--white));
        cursor: pointer;
        transition: filter ease-in-out 300ms;
        border-radius: 20px;
    }

        .moviestable img:hover {
            filter: grayscale(0) drop-shadow(0 0 3px var(--white));
        }

/* Modal */
body.open {
    overflow: hidden;
}

#blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 250;
    transition: all ease-in-out 300ms;
    pointer-events: none;
}

    #blocker.open {
        background-color: black;
        opacity: 0.9;
        pointer-events: all;
    }

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150vh);
    width: 400px;
    background: var(--blue);
    filter: drop-shadow(0 0 3px black);
    z-index: 300;
    border-radius: 20px;
    padding: 50px;
    opacity: 0;
    transition: all ease-in-out 300ms;
}

    .modal.open {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    .modal * {
        color: var(--white);
    }

    .modal .close-btn {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 20px;
        top: 20px;
        filter: none;
        transition: filter ease-in-out 300ms;
        cursor: pointer;
    }

    .modal .close-btn:hover {
        filter: drop-shadow(0 0 2px white);
    }
